/* Eric Meyer's CSS Reset
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
-----------------------------------------------------------------------------*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset 
-----------------------------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
body {
  font: 12px/18px Arial, sans-serif;
  height: 100%;
}

/* My css style
-----------------------------------------------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background: url(../img/bg.png);
}

.wrap-content {
  margin: 0 auto;
  max-width: 1196px;
}

.left,
.head-box-left {
  float: left;
}

.right,
.head-box-right {
  float: right;
}

.cf:after {
  display: table;
  clear: both;
  content: " ";
}

.shadow {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
       -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
          box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
}

/* Section header
-----------------------------------------------------------------------------*/

.header-block {
  padding: 30px 3px 20px 3px; 
  color: #787878;
  font-size: 100%
}

.head-box {
  padding: 5px 0 0 40px;
  text-align: center;
  font-weight: bold;
  color: #787878;
}

.head-box span {
  font-size: 1.6em;
}

.mail span,
.phone span,
.activities span {
  display: block;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 0.73);
}

.head-box span:last-child {
  padding-right: none;
}


/* Section top menu
-----------------------------------------------------------------------------*/

.menu nav {
  position: relative;
}

.menu ul {
  background: #fff;
}

.menu ul li {
  position: relative;
  display: inline-block;
  border-left: 1px solid #d3d3d3;
  /*добавить стили для IE*/
}

.menu ul li:first-child {
  border-left: none;
}

.menu ul li a {
  display: block;
  position: relative;
  padding: 18px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #6b6b6b;
}

.menu div {
  float: left;
  width: 60px;
  height: 60px;
}

.menu .home-link a {
  float: left;
  width: 60px;
  height: 58px;
  padding: 0;
  border-right: 1px solid #d3d3d3;
  background-image: url(../img/home.png);  
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.menu ul li a:hover {
  color: #01a3d6;
}

.menu ul li a:hover::before,
.menu .home-link a:hover::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d80202;
}

.menu .home-link a:hover::before {
  width: 60px;
}

/* Section content
-----------------------------------------------------------------------------*/

.content {
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}

/* Section main-content
-----------------------------------------------------------------------------*/

.title-content {
  margin-top:40px;
  margin-bottom: 40px;
  padding: 30px;
  font-size: 3em;
  text-align: center;
  color: #6b6b6b;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 0.73);
}

/* Post
-----------------------------------------------------------------------------*/
.post .post-box {
  float: left;
  position: relative;
  padding: 15px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box; *behavior: url(boxsizing.htc);

  margin: 0 15px 15px 0;
  background: #fff;
}

.post-box {
  width: 49.3311036%;
  height: 370px;
}

.post-box:hover {
  background: #eeeeee;
}


.post .last {
  margin-right: 0;
}

.post-box a {
  display: block;
  margin-left: 20%;
  margin-top: 2%;
}

.post-box h2 {
  font-size: 2em;
  font-weight: normal;
  padding: 20px 0 20px 0;
  text-align: center;
}

.post-box .post-text {
  margin-left: 20px;
  font-size: 15px;
  text-align: center;
}
.post-box .button a {
  display: block;
  position: absolute;
  padding: 10px 20px 10px 20px;
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
          behavior: url(border-radius.htc);

  width: 160px;
  bottom: 20px;
  left: 14%;
  background: #cacaca;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.post-box .button a:hover {
  background: #01a3d6;
  border: 1px solid #f0f0f0;
  border-bottom: 2px solid #cccccc;
}




/* Map
-----------------------------------------------------------------------------*/

.content-map {
  margin: 15px 0 30px 0;
}

/* Main-box
-----------------------------------------------------------------------------*/

.main-box a {
  position: relative;
  float: left;
  width: 25%;
  height: 150px;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  border-right: none; 

  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box; *behavior: url(boxsizing.htc);

  background: #f9f9f9;
  text-decoration: none;
  font-weight: bold;
  color: #01a3d6; 
  *behavior: url(ie-css3.htc); 
}

.main-box a:last-child {
  border-right: 1px solid #e2e2e2;
}

.main-box a:hover {
  background: #fff;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.main-box a div {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 1.5em;
  color: #6b6b6b;
}

.main-box a:hover div {
  color: #d80202;
}

.main-box a span {
  position: absolute;
  display: block;
  left: 35%;
  top: 20px;
  width: 80px;
  height: 80px;
  padding-top: 9%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;

  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
       -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
          box-shadow: 0 0 4px rgba(0,0,0,0.5);

  border: 4px solid #01a3d6;
  text-align: center;
  font-size: 3.2em;
}

.main-box a:hover span {
  border: 4px solid #d80202;
  color:#d80202;
}

/* Map
-----------------------------------------------------------------------------*/

.wrap-map {
  padding: 3px;
}

/* Section footer
-----------------------------------------------------------------------------*/

.footer-section {
  height: 150px;
  background: #292626;
  outline: 1px solid #000000;
  border-top: 2px solid #555555;
}

.footer-content {
  margin: 30px 0 0 30px;
}

.footer-content .foot-box {
  margin-right: 20px;
  font-size: 1.2em;
  color: #d6d6d6;
}

.footer-content .foot-logo img  {
  display: block;
  margin: 30px 50px 0 30px;
}

.contacts-footer .copyright {
  margin-left: 8%;
  margin-top: 40px;
}

.footer-content .link,
.footer-content .address {
  padding: 5px 0 5px 0; 
  width: 250px;
  border: 1px solid #474646;
  border-width: 1px 0 1px 0 ;
}

.footer-content ul {
  margin: 0;
  padding: 10px 0 10px 0;
}

.footer-content ul li {
  padding: 2px;
}

