/* Eric Meyer's CSS Reset
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
-----------------------------------------------------------------------------*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset 
-----------------------------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
body {
  font: 12px/18px Arial, sans-serif;
  height: 100%;
}

/* My css style
-----------------------------------------------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background: url(../img/bg.png);
}

.wrap-content {
  margin: 0 auto;
  max-width: 1196px;
}

.left,
.head-box-left {
  float: left;
}

.right,
.head-box-right {
  float: right;
}

.cf:after {
  display: table;
  clear: both;
  content: " ";
}

.shadow {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
       -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
          box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
}

/* Section header
-----------------------------------------------------------------------------*/

.header-block {
  padding: 30px 3px 20px 3px; 
  color: #787878;
  font-size: 100%
}

.head-box {
  padding: 5px 0 0 40px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #787878;
}

.head-box span:last-child {
  padding-right: none;
}


/* Section top menu
-----------------------------------------------------------------------------*/

.menu nav {
  position: relative;
}

.menu ul {
  background: #fff; /*#02a6da;*/ /*#6b6b6b;*/ 
}

.menu ul li {
  position: relative;
  display: inline-block;
  border-left: 1px solid #d3d3d3;
  /*добавить стили для IE*/
}

.menu ul li:first-child {
  border-left: none;
}

.menu ul li a {
  display: block;
  position: relative;
  padding: 20px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #6b6b6b;
}

.menu div {
  float: left;
  width: 60px;
  height: 60px;
}

.menu .home-link a {  /*#02a6da*/
  float: left;
  width: 60px;
  height: 60px;
  padding: 0;
  border-right: 1px solid #d3d3d3;
  background-image: url(../img/home.png);  
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.menu ul li a:hover {
  color: #01a3d6;
}

.menu ul li a:hover::before,
.menu .home-link a:hover::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d80202;
}

.menu .home-link a:hover::before {
  width: 60px;
}

/* Section slider
-----------------------------------------------------------------------------*/

.slider {
  max-width: 1196px;
  height: 400px;
  margin-top: 20px;
  padding: 3px;
  overflow: hidden;
}

.slider-wrap {
  background: #fff;
  width: 100%;
  height: 100%;

}

/* Section content
-----------------------------------------------------------------------------*/

.content {
  margin-top: 20px;
  margin-bottom: 70px;
}

/* Section main-content
-----------------------------------------------------------------------------*/

.main-content {
  margin: 30px 0 30px 0;
}

.title-content {
  margin-bottom: 70px;
  padding: 30px;
  font-size: 3em;
  text-align: center;
  color: #6b6b6b;
}

/* Post
-----------------------------------------------------------------------------*/

.post  {
  display: inline-block;
  margin-bottom: 15px;
  padding: 20px;
  margin-right: -3px;
  max-width: 45.8612%; 
  border: 1px solid #e2e2e2;
  background: #f9f9f9;
  text-decoration: none;
}

.post a {
  margin-right: 15px;
  text-decoration: none;
  color:#6b6b6b;
}

.post a:nth-child(2n) {
  margin-right: none
}

.post-img {
  margin-left: 50px;
  width: 450px;
}

.post-img img {
  margin: 0;
  padding: 0;
  vertical-align:bottom;
}

.post-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
  color: #6b6b6b;
}
.main-content .content-map {
  margin: 30px 0 30px 0;
}

/* Main-box
-----------------------------------------------------------------------------*/

.main-box {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
       -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
          box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.main-box a {
  position: relative;
  float: left;
  width: 25%;
  height: 150px;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  border-right: none; 

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;

  background: #f9f9f9;
  text-decoration: none;
  font-weight: bold;
  color: #01a3d6;  
}

.main-box a:last-child {
  border-right: 1px solid #e2e2e2;
}

.main-box a:hover {
  background: #fff;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.main-box a div {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 1.5em;
  color: #6b6b6b;
}

.main-box a:hover div {
  color: #d80202;
}

.main-box a span {
  position: absolute;
  display: block;
  left: 35%;
  top: 20px;
  width: 80px;
  height: 80px;
  padding-top: 9%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;

  behavior: url("../PIE/PIE.htc");

  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
       -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
          box-shadow: 0 0 4px rgba(0,0,0,0.5);

  border: 4px solid #01a3d6;
  text-align: center;
  font-size: 3.2em;
}

.main-box a:hover span {
  border: 4px solid #d80202;
  color:#d80202;
}

/* Map
-----------------------------------------------------------------------------*/

.wrap-map {
  padding: 3px;
}