/* Page-style
-----------------------------------------------------------------------------*/
.title-page {
  margin-top:40px;
  margin-bottom: 40px;
  padding: 30px;
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 0.73);
  color: #000;
}

.content-text {
  padding:  0 1px 0 10px;
  font-size: 1.6em;
  line-height: 1.5;
  border-left: 10px solid #d16666;
}

.price {
  margin: 30px 0 20px 0;
  padding-bottom: 30px;
}

.price .product .product-box {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  vertical-align: top;
  border: 1px solid #ccc;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box; *behavior: url(boxsizing.htc);
  
  width: 385px;
  height: 368px;
  background: #fff;
  
}

.price .product .product-box .centr {
  padding-top: 50px;
  text-align: center;

}

.price .product .product-box p {
  position: absolute;
  display:  block; 
  top: 280px;
  left: 30px;
  width: 80%;
  padding-top: 10px;
  vertical-align: top;
  border-top: 2px solid #08a8db;
  font-size: 1.3em;
}

.price .product .last {
  margin-right: 0;
} 

/*  product-m
---------------------------------------------------------*/

.price .product-m .product-box-m {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 5px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ccc;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box; *behavior: url(boxsizing.htc);
  
  width: 292px;
  height: 280px;
  background: #fff;
  
}

.price .product-m .product-box-m .centr {
  padding-top: 50px;
  text-align: center;

}

.price .product-m .product-box-m p {
  position: absolute;
  display:  block; 
  top: 200px;
  left: 30px;
  width: 80%;
  padding-top: 10px;
  vertical-align: top;
  border-top: 2px solid #08a8db;
  font-size: 1.3em;
}

.price .product-m .last {
  margin-right: 0;
}

/* mounting-link
-----------------------------------------------*/

.mont-link,
.link-more {
  margin: 10px 0 10px 0;
  background: #efefef;
  opacity: 0.3;
  border-left: 10px solid #000;

  -webkit-transition: opacity 0.5s ease;
     -moz-transition: opacity 0.5s ease;
       -o-transition: opacity 0.5s ease;
}

.mont-link a,
.link-more a {
  display: block;
  padding: 20px;
  text-decoration: underline;
  color: #000;
  font-size: 1.5em;
  color: #000;
}

.mont-link:hover,
.link-more:hover {
  opacity: 1;
  border-left: 10px solid #08a8db;
}

/* Contacts
-----------------------------------------------------------------------------*/
.contacts {
}

.title-contacts {
  margin: 30px 0 30px 0;
  padding: 15px 0 15px 10px;
  background: #fff;
  border-left: 5px solid #08a8db;
  font-size: 2em;
  color: #000;

}
